*{
	margin: 0;
	padding: 0;
}

html,body{height: 100%;}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: russo one;
	background: url(https://images.pexels.com/photos/1292115/pexels-photo-1292115.jpeg?auto=compress&cs=tinysrgb&w1260&h=750&dpr=1);
	background-size: cover;
	background-position: center center;
	position: relative;

}

body:after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 0, 0, 0.5);
	z-index: -1;

}

h2{
	font-size: 60px;
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	animation: animate 3s infinite steps(21) alternate;

}

@keyframes animate{

	from{
		width: 0;
	}

	to{
		width: 750px;
	}

}